<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Kanban App</title>
  {{ template "general/header" }}
</head>

<body
  class="bg-gradient-to-r from-[#78ffd6] to-[#007991] h-screen flex flex-col justify-center items-center font-['Exo_2']">

  <div
    class="flex justify-center bg-gradient-to-r from-[#30E8BF] to-[#fdbb2d] max-w-sm rounded-lg overflow-hn shadow-lg py-5 px-5 ">
    <form method="POST" action="/task/create?category={{.}}" class=" bg-white shadow-md rounded px-8 pt-6 pb-8">
      <a href="/dashboard">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
      </a>
      <h1 class="text-2xl font-bold mb-8 text-center text-[#22c1c3]">Add new<span class="text-[#fdbb2d]">
          Task</span></h1>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="title" placeholder="add title">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
          Description
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          name="description" placeholder="add description">
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-[#22c1c3] hover:bg-[#fdbb2d] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Add
        </button>
      </div>
    </form>
  </div>
</body>

</html>

